.slider h3,
.slider h5,
.clients {
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}



.about h2,
.services h2,
.portfolio h2,
.contact h2 {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

hr {
	width: 400px;
}

.parallax-container {
	height: 300px;
}

.parallax img {
	filter: grayscale(90%);
	opacity: 0.6 !important;
}

.clients img {
	max-width: 200px;
	filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

.services {
	padding: 20px 0;
}

.footer {
	height: 70px;
	line-height: 70px;
}

.about,
.portfolio {
	padding-top: 10px;
}

.portfolio img {
	margin-top: 10px;
}

body {
	background-color: lightblue;
}